body {
    background-color: black;
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}

.result-container {
    color: white;
    text-align: center;
    margin-top: 300px;
    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
}

.stopwatch {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: "JetBrains Mono", monospace;
    font-size: 40px;
}

.averages {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 15px;
}

.result-count {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
}

/* Button for clearing results */
.clear-button {
    position: fixed;
    bottom: 50px;
    left: 10px;
    cursor: pointer;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.clear-button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.clear-button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.result-link{
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #fff;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* Position the element at the top-right corner */
    position: fixed;
    top: 0px; /* Distance from the top */
    right: 120px; /* Distance from the right */
    text-decoration: none;
}



.result-link:hover,
.result-link:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.result-link:active {
    background: var(--color);
    color: #fff;
}

.auto-scramble {
    font-size: 24px;
    font-family:"JetBrains Mono", monospace ;
    color: #fff;
    position: fixed;
    top: 15px;
    left: 373px;
}